.card {
    box-shadow: 0 40px 40px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    background-color: #5242DB;
    border-color: #5242DB;
    border-style: solid;
    border-width: 2px;
  }
  
  .card:hover {
    box-shadow: 0px 0px 20px 20px rgb(74, 24, 182);
  }
  
  .container {
    /* margin-top: 8rem; */
    padding: 2px 32px;
    
  }

  .bg {
    background-color: #281C8C;
  }
/* .bump {
    padding-top: 5rem;
    padding-bottom: 5rem;
} */

.cardGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: start;
    gap: 2rem;
}

body {
    margin: 0;
    background-image: url('../img/backGround.png');
    background-size: cover;
    
}

body {
  cursor: url('../img/cursor.svg'), 
           auto;
}

.cardGin {
  padding-top: 20rem;
 margin-left: 20rem;
 margin-right: 5rem;
 padding-bottom: 50rem;
}

.mottoSize{
  padding-top: 15rem;
  padding-left: 20rem;
}