/* Used grid.css from lab to format images next to eachother for comparison,
had help from andrew with flex-grow, flex-end */
 * {
     box-sizing: border-box;
}
 .grid {
     display: flex;
     flex-wrap: wrap;
}
.mobile-hide {
 display: none;
 }
 .mobile-show {
 display: none;
 }
 .collageDesktop {
     display: none;
     position: relative;
 }
 .collageMobile {
   display: none;
   position: relative;
 }

 @media (min-width: 15em) {
   .collageDesktop {
    display: none;
    }
    .collageMobile {
      /* width: 100%; */
      width: 100vw;
      display: inline;
      position: absolute;
      z-index: 0;
    }
    h2 {
      font-size: 2.2rem;
    }
}
 @media (min-width: 23.5em) {
   .collageDesktop {
   display: none;
   }
   .collageMobile {
     /* width: 100%; */
     width: 100vw;
     display: inline;
     position: absolute;
     z-index: 0;
   }
}
 @media (min-width: 45em) {
   .collageDesktop {
   /* height: 100%; */
   width: 100vw;
   display: inline;
   position: absolute;
   z-index: 0;
   }
   .collageMobile {
     display: none;
   }
}
 @media (min-width: 56.25em) {
   .mobile-show {
   display: none;
   }
   .mobile-hide {
   display: none;
   }
   .collageDesktop {
   /* display: inline; */
   width: 100vw;
   /* height: 100%; */
   position: absolute;
   z-index: 0;
   /* width: 100vw; */
   }
   .collageMobile {
     display: none;
   }
   h2 {
     font-size: 3.7rem;
   }
}
