/* Used grid.css from lab to format images next to eachother for comparison,
had help from andrew with flex-grow, flex-end */
 * {
     box-sizing: border-box;
}

 @media (min-width: 15em) {

   .smol {
     width: 100%;
   }
   .grid-col-1of2 {
     /* display: grid; */
     align-items: center;
     justify-content:center;
     grid-template-columns: 300px;
     /* padding: 3px; */
   }

   .grid-col-2of2 {
     /* display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: end; */
     align-items: center;
     justify-content:center;
     grid-template-columns: 300px;
     /* padding: 3px; */
   }
   h2 {
     font-size: 2.2rem;
   }

   .subTextPos{
     position: inline;
   }
   .subText {
     font-size: 0.9rem;
     max-width: 16rem;
   }
   .linkText {
     font-size: 1rem;
   }

}
 @media (min-width: 23.5em) {


}
 @media (min-width: 45em) {


}
 @media (min-width: 56.25em) {

   .grid-text-col {
     /* display: flex;
     flex-wrap: wrap; */
     align-items: center;
      /* justify-content: end; */
     /* display: grid; */
     justify-content:center;
   }

   .grid-col-1of2 {
     /* display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: end; */
     display: grid;
     justify-content:end;
     grid-template-columns: 450px 450px; /*Make the grid smaller than the container*/
     grid-gap: 10px;
     /* padding: 3px; */
   }

   .grid-col-2of2 {
     /* display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: end; */
     display: grid;
     justify-content:end;
     grid-template-columns: 450px; /*Make the grid smaller than the container*/
     grid-gap: 10px;
     /* padding: 3px; */
   }
   h2 {
     font-size: 3.7rem;
   }

   .smol {
     width: 100%;
   }
   .subTextPos{
     position: absolute;
   }
   .subText {
     font-size: 0.9rem;
     max-width: 16rem;
     margin-top: 0;
   }
   .linkText {
     font-size: 0.7rem;
   }
}
