@font-face {
font-family: UntitledSerifBold;
src: url(../type/UntitledSerifTest-Bold.woff);
}

@font-face {
font-family: UntitledSansBold;
src: url(../type/UntitledSansTest-Bold.woff);
}

@font-face {
font-family: UntitledSans;
src: url(../type/UntitledSansTest-Regular.woff);
}

@font-face {
font-family: UntitledSansLight;
src: url(../type/UntitledSansTest-Light.woff);
}

@font-face {
font-family: Lynstone;
src: url(../type/LynstoneTrialWeb-Regular.woff);
}

@font-face {
font-family: LynstoneBook;
src: url(../type/Lynstone/LynstoneTrialWeb-Book.woff);
}

 html {
     max-width: 100%;
     overflow-x: hidden;
     /* background-color: #030303; */
     background-color: #0a0a0a;
     /* background-color: #133B5F; */
}
.StickyText {
  margin-top: -0.2rem;
  margin-left: 0.5rem;
  position: fixed;
  font-family: Lynstone;

}
.subText {
  /* margin-top: 5rem; */
  margin-left: 0.5rem;
  font-family: LynstoneBook;
  max-width: 16rem;
}
.linkText {
  /* margin-top: 5rem; */
  margin-left: 0.5rem;
  font-family: UntitledSansLight;
  max-width: 16rem;
}

 /* p, ul, ol {
     font-size: 0.8rem;
     line-height: 2.5em;
     text-align: left;
     max-width: 20rem;
}
 figcaption {
     font-size: 0.8rem;
     font-style: italic;
} */
 h2 {
     font-family: UntitledSerifBold;
     /* font-style: bold; */
     color: white;
     /* max-width: 40rem; */
   }
   h3 {
       font-family: Lynstone;
       /* font-style: bold; */
       color: white;
       /* max-width: 40rem; */
     }

a, p {
  color: white;
  /* width: 40em; */
  line-height: 1.6rem;
  /* max-width: 10rem; */
}

/* .wtf {
  width: 40em;
  line-height: 1.6rem;
} */
a:visited {
    /* text-decoration: none; */
    color: white;
}
a:active, a:hover {
    /* color: #55107E; */
    /* text-decoration: none; */
}
.textalign {
  position: absolute;
  z-index: 1;
  /* max-width: 83rem; */
  padding: 10%;
  /* left: 30%;
  top: 50%;
  transform: translate(-30%, -50%); */
}
.imgpush {
  padding-top: 45rem;
}

/* .bodyType {
  max-width: 40rem;
}
.smallType {
  max-width: 40rem;
} */

::selection {
  color: rgb(239,236,114);
}
/* .priotity {
  position: absolute;
  z-index: 1;
} */
