@font-face {
font-family: UntitledSerifBold;
src: url(../type/UntitledSerifTest-Bold.woff);
}

@font-face {
  font-family: UntitledSerifRegular;
  src: url(../type/UntitledSerifTest-Regular.woff);
  }

@font-face {
font-family: UntitledSansBold;
src: url(../type/UntitledSansTest-Bold.woff);
}

@font-face {
font-family: UntitledSans;
src: url(../type/UntitledSansTest-Regular.woff);
}

@font-face {
font-family: UntitledSansLight;
src: url(../type/UntitledSansTest-Light.woff);
}

@font-face {
font-family: Lynstone;
src: url(../type/LynstoneTrialWeb-Regular.woff);
}

@font-face {
font-family: LynstoneBook;
src: url(../type/Lynstone/LynstoneTrialWeb-Book.woff);
}

 html {
     max-width: 100%;
     overflow-x: hidden;
     /* background-color: #030303; */
     background-color: #f0f0f0;
     /* background-color: #133B5F; */
}

video {
  /* override other styles to make responsive */
  width: 100%    !important;
  height: auto   !important;
  
}

* {border: 0 !important; }

p {
  max-width: 10rem;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.drkMode {
  background-color: #101011;
  /* background: #030303; */
  padding: 0;
  margin: 0;

}

.lghtMode {
  color: #fefefe;
}

.drkText {
  color: black;
}

.StickyText {
  margin-top: -0.2rem;
  margin-left: 0.5rem;
  position: fixed;
  font-family: Lynstone;

}
.subText {
  /* margin-top: 5rem; */
  margin-left: 0.5rem;
  font-family: LynstoneBook;
  max-width: 16rem;
}

.subheaderPush {
  /* margin-top: 5rem; */
  margin-left: 0.5rem;
  font-family: UntitledSerifRegular;
  max-width: 30rem;
  /* font-size: 1.5em; */
  /* letter-spacing: 0.5px; */
  line-height: 1.3;
}

.subtitlePush {
  margin-left: 0.5rem;
  font-family: LynstoneBook;
  /* font-size: 1rem; */
}

.linkText {
  /* margin-top: 5rem; */
  margin-left: 0.5rem;
  font-family: UntitledSansLight;
  max-width: 16rem;
}

 /* p, ul, ol {
     font-size: 0.8rem;
     line-height: 2.5em;
     text-align: left;
     max-width: 20rem;
}
 figcaption {
     font-size: 0.8rem;
     font-style: italic;
} */
 h2 {
     font-family: UntitledSerifBold;
     /* font-style: bold; */
     color: black;
     /* max-width: 40rem; */
   }
   h3 {
       font-family: Lynstone;
       /* font-style: bold; */
       color: white;
       /* max-width: 40rem; */
      font-size: 1em;
     }

     h4 {
      font-family: UntitledSansLight;
      color: #7b7b7b;
      letter-spacing: -0.5px;
      vertical-align: text-top;
     }

     h5 {
      font-family: UntitledSerifRegular;
      color: #020202;
      /* max-width: 900rem; */
     }

     h6 {
      font-family: UntitledSansLight;
      color: black;
      letter-spacing: -0.5px;
      padding-left: 0rem;
     }

a, p {
  /* color: black; */
  /* width: 40em; */
  line-height: 1.6rem;
  /* max-width: 10rem; */
}

h3:visited {
  color: white;
}

/* .wtf {
  width: 40em;
  line-height: 1.6rem;
} */

a:visited {
    /* text-decoration: none; */
    /* color: black; */
}

/* a:active, a:hover {
    color: #55107E;
    text-decoration: none;
} */

/* .imgpush {
  padding-top: 45rem;
} */

/* .bodyType {
  max-width: 40rem;
}
.smallType {
  max-width: 40rem;
} */
.lemonade {
  color: #FE5336;
  background: none;
}
::selection {
  color: #FE5336;
}
/* .priotity {
  position: absolute;
  z-index: 1;
} */

.marquee-outer {
  height: 300px;
  overflow: hidden;
  position: relative;
  color:#FE5336;
}

.marquee-inner {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* starting position */
  -moz-transform:translateX(10%);
  -webkit-transform:translateX(10%);	
  transform:translateX(10%);
  /* Apply animation to this element */	
  -moz-animation: scroll-left 40s linear infinite;
  -webkit-animation: scroll-left 40s linear infinite;
  animation: scroll-left 40s linear infinite;
 }
 /* Move it (define the animation) */
 @-moz-keyframes scroll-left {
  50%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(100%); }
 }
 @-webkit-keyframes scroll-left {
  50%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
 }
 @keyframes scroll-left {
  100%   { 
  -moz-transform: translateX(100%); /* Browser bug fix */
  -webkit-transform: translateX(100%); /* Browser bug fix */
  transform: translateX(100%); 		
  }
  100% { 
  -moz-transform: translateX(-100%); /* Browser bug fix */
  -webkit-transform: translateX(-100%); /* Browser bug fix */
  transform: translateX(-100%); 
  }
 }