/* Used grid.css from lab to format images next to eachother for comparison */

* {
  box-sizing: border-box;
}
.grid {
  display: flex;
  flex-wrap: wrap;
}

.mobile-hide {
	display: none;
}

.mobile-show {
	/* display: block; */
  display: none;
}

/* nav .grid-col-1of2 {
  flex-basis: 50%;
  add class ->.align-self f
}

 nav .grid-col-1of5 {
	flex-grow: 1;
	flex-basis: 100%;
} */
@media (min-width: 15em) {
  .title {
  	padding: 0rem;
    /* width: 90%; */
  	position: absolute;
  }
  nav .grid-col-1of5 {
    flex-basis: 20%;
  }
  nav a {
    width: 100%;
  }
  figure {
    padding-left: 0rem;
  }
  section.bg {
    margin-left: 0rem;
    margin-top: 12rem;
  }
  .bikes {
    width: 80%;
    /* align-self: flex-end; */
  }
  h2.bikehead, p.bikehead {
    margin-left: 5%;
  }
  .compact {
    width: 100%;
    margin-top: 3rem;
    /* align-self: flex-end; */
    margin-left: -5%;
  }
}

@media (min-width: 23.5em) {
  .title {
  	padding: 2rem;
  	position: absolute;
  }
  .grid-col-1of2 {
    flex-basis: 80%;
    align-self: flex-end;
    flex-grow: 1;
  }
	nav .grid-col-1of5 {
		flex-basis: 20%;
	}
  nav a {
    width: 100%;
  }
  figure {
    padding-left: 0rem;
  }
  section.bg {
    margin-left: 0rem;
    margin-top: 12rem;
  }
  .bikes {
    width: 80%;
    /* align-self: flex-end; */
  }
  h2.bikehead, p.bikehead {
    margin-left: 5%;
  }
  .compact {
    width: 100%;
    margin-top: 3rem;
    /* align-self: flex-end; */
    margin-left: -5%;
  }
  /* .bus {
  	width: 80%;
  	margin-top: 3rem;
  	position: relative;
  } */
}

@media (min-width: 45em) {
  .title {
  	padding: 2rem;
  	position: absolute;
  }
  .grid-col-1of2 {
    flex-basis: 50%;
    align-self: flex-end;
    flex-grow: 1;
  }
  .bus {
    width: 50%;
    margin-top: 20rem;
  }
  h2.bushead, p.bushead, h3.bushead {
      margin-left: 5%;
  }
  .bikes {
    width: 60%;
    margin-left: 20%;
    margin-top: 22rem;
    /* align-self: flex-end; */
  }
  h2.bikehead, p.bikehead {
    margin-left: 5%;
  }
  .compact {
    width: 80%;
    margin-top: 25rem;
    /* align-self: flex-end; */
    margin-left: -5%;
  }
  h2.compacthead, p.compacthead {
    margin-left: 5%;
    position: relative;
  }
	.grid-col-1of2 {
		flex-basis: 50%;
	}

	nav .grid-col-1of5 {
		flex-basis: 100%;
	}
  nav a {
    width: 30%;
  }
  section.bg {
    margin-left: 0rem;
    margin-top: 12rem;
  }
}

@media (min-width: 56.25em) {
  .title {
  	padding: 2rem;
  	position: absolute;
  }
  .mobile-show {
    display: none;
  }

  .mobile-hide {
    display: block;
  }

	nav .grid-col-1of5 {
		flex-basis: 100%;
	}
  nav a {
  	width: 20%;
  }
  nav {
      top: 19rem;
    }
    .grid-col-1of2 {
      flex-basis: 50%;
      align-self: flex-end;
      flex-grow: 1;
    }
  section.bg {
  	margin-left: 16rem;
    margin-top: 12rem;
  }
  .bus {
    width: 50%;
    margin-top: 20rem;
  }
  h2.bushead, p.bushead, h3.bushead {
  		margin-left: 30%;
  }
  .bikes {
  	width: 50%;
  	margin-left: 40%;
  	margin-top: 22rem;
  	/* align-self: flex-end; */
  }
  h2.bikehead, p.bikehead {
    margin-left: 30%;
  }
  .compact {
  	width: 80%;
  	/* margin-top: 25rem; */
  	/* align-self: flex-end; */
  	margin-left: 0%;
  }
  h2.compacthead, p.compacthead {
  	margin-left: 30%;
  	position: relative;
  }
  h4 {
    padding-left: 0rem;
  }
  h5 {
    margin-top: 20rem;
    margin-left: -20rem;
  }
  section.bg {
  	position: relative;
  }

  section.bg::after {
  	content: "";
  	background: white;
  	position: absolute;
  	top: 8rem;
  	width: 100%;
  	left: 10%;
  	/* height: 83%; */
    height: 73%;
  	transition: background 0.5s;
  }

  section.bg:hover::after {
  	background: #d2dae2;
  }

  section.bg h2, section.bg h3, section.bg h5, section.bg p, section.bg img {
  	position: relative;
  	z-index: 1;
  }
}
