/* Used the third lecture starter files to recap how nav, ems and rems work */

.css-selector {
  font-family: 'Open Sans', sans-serif;
}

nav a, nav a:visited {
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.5);
	border-left: 3px solid #ff5e57;
	color: black;
	padding: 0.75em 2em;
	text-decoration: none;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

/* nav a {
	width: 100%;
} */

nav a:hover, nav a:active, nav a:focus {
	background-color: #ff5e57;
	color: white;
}

/* nav a:active {
	background-color: #ff5e57;
	color: white;
} */

nav {
	position: fixed;
	left: 1rem;
	right: 1rem;
}

/* section {
	margin-left: 10rem;
} */

/* section {
-webkit-transition: background-color 0.9s;
transition: background-color 0.9s;
}

section:hover, section:active, section:focus {
		background-color: #d2dae2;
		background-size: 50%;
} */

section.one {
			position: relative;
	  	margin-left: 16rem;
}

/* nav {
	z-index: 1;
} */

/* img {
	width: 80%;
} */

.collage {
	width: 80%;
	position: relative;
	margin-top: 10rem;
	margin-left: 10rem;
}

.bus {
	position: relative;
  -webkit-animation: myfirst 5s linear 2s infinite alternate; /* Safari 4.0 - 8.0 */
  animation: myfirst 5s linear 2s infinite alternate;
}

#bus :active{animation-timing-function: ease-in;}

@keyframes myfirst {
    from {left: 0px;}
    to {left: 300px;}
}

body {
	font-family: Arial, Verdana, sans-serif;
	font-size: 1em;
	color: black;
	padding: 1em;
}

h1 {
	font-size: 2rem;
	font-style: italic;
	top: 1.5rem;
	left: 2rem;
	right: 1rem;
}

h2 {
	font-weight: bold;
	font-size: 2rem;
	line-height: 1.4em;
	color: #ff5e57;
	font-family: 'IBM Plex Serif', serif;
}

h3 {
	font-style: italic;
	font-size: 0.8rem;
	color: #ff5e57;
}

h4 {
	position: absolute;
	color: #ff5e57;
	margin-left: 20rem;
	font-weight: bold;
	font-size: 1.5rem;
}

h5 {
	position: relative;
	font-size: 4rem;
	color: #ff5e57;
	transform: rotate(-90deg);
}

p, ul, ol {
	font-size: 0.8rem;
	line-height: 2.5em;
	text-align: left;
  max-width: 20rem;
	font-family: 'Open Sans', sans-serif;
}

figcaption {
	font-size: 0.8rem;
	font-style: italic;
}

a {
	color: #8968CD;
	font-size: 0.75rem;
	font-family: 'Open Sans', sans-serif;
}


a:visited {
	text-decoration: none;
}

a:active, a:hover {
	color: #55107E;
	text-decoration: none;
}
