/* Used the third lecture starter files to recap how nav, ems and rems work */

.css-selector {
  font-family: 'Open Sans', sans-serif;
}

nav a, nav a:visited {
	display: inline-block;
	/* background-color: rgba(255, 255, 255, 0.5); */
	border-left: 3px solid #ff5e57;
	color: black;
	padding: 0.75em 2em;
	text-decoration: none;
	font-weight: bolder;
	/* -webkit-transition: background-color 0.5s;
	transition: background-color 0.5s; */
	-webkit-transition-property: all; /* Safari */
	-webkit-transition-duration: 0.5s; /* Safari */
	transition-property: all;
	transition-duration: 0.5s;
}

/* nav a {
	width: 100%;
} */

nav a:hover, nav a:active, nav a:focus {
	background-color: #ff5e57;
	width: 25%;
	color: white;
}

/* nav a:active {
	background-color: #ff5e57;
	color: white;
} */

nav {
	position: fixed;
	left: 1rem;
	right: 1rem;
}

/* section {
	margin-left: 10rem;
} */

/* section {
-webkit-transition: background-color 0.9s;
transition: background-color 0.9s;
}

section:hover, section:active, section:focus {
		background-color: #d2dae2;
		background-size: 50%;
} */

.backdrop {
	width: 100%;
	z-index: -99;
	position: absolute;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* html, body {
    max-width: 100%;
    overflow-x: hidden;
} */

/* nav {
	z-index: 1;
} */

/* img {
	width: 80%;
} */
.collage {
	width: 80%;
	position: relative;
	/* margin-top: 10rem; */
	/* margin-top: 10rem;
	margin-left: 10rem; */
}
.goalBar {
	background-color: #ff5e57;
	width: 100%;
	height: 10rem;
}
.bus {
	position: relative;
  -webkit-animation: myfirst 5s linear 2s infinite alternate; /* Safari 4.0 - 8.0 */
  animation: myfirst 5s linear 2s infinite alternate;
}

#bus :active{animation-timing-function: ease-in;}

@keyframes myfirst {
    from {left: 0px;}
    to {left: 200px;}
}
body {
	/* font-size: 1em; */
	/* color: black; */
	/* padding: 1em; */
	background-color: #E1EFDD;
}
section {
	padding: 1em;
}
h1 {
	/* padding-left: 3rem;
	padding-top: 3rem; */
	/* padding: 3rem; */
	font-weight: bolder;
	font-size: 2rem;
	line-height: 1.4em;
	color: #ff5e57;
	font-family: 'IBM Plex Serif', serif;
	max-width: 10rem;
}

h2 {
	font-weight: bold;
	font-size: 2rem;
	line-height: 1.4em;
	color: #ff5e57;
	font-family: 'IBM Plex Serif', serif;
}

h3 {
	font-style: italic;
	font-size: 0.8rem;
	color: #ff5e57;
}

h4 {
	line-height: 2em;
	letter-spacing: 0.1em;
	font-weight: bolder;
}
h5 {
	/* position: relative;
	font-size: 4rem;
	color: #ff5e57;
	transform: rotate(-90deg); */
	color: grey;
	max-width: 30rem;
	line-height: 2em;
	font-weight: bold;
	font-size: 1rem;
}

h6 {
	position: relative;
	font-size: 1rem;
	/* line-height: 2.5em; */
	/* margin-top: -1rem; */
	color: grey;
	font-family: 'Open Sans', sans-serif;
}

p, ul, ol {
	font-size: 0.8rem;
	line-height: 2.5em;
	text-align: left;
  max-width: 20rem;
	font-family: 'Open Sans', sans-serif;
}

figcaption {
	font-size: 0.8rem;
	font-style: italic;
}

a {
	color: #8968CD;
	font-size: 0.75rem;
	font-family: 'Open Sans', sans-serif;
}


a:visited {
	text-decoration: none;
}

a:active, a:hover {
	color: #55107E;
	text-decoration: none;
}

