@font-face {
font-family: Untitled;
src: url(../type/UntitledSerifTest-Bold.woff);
}

@font-face {
font-family: UntitledSans;
src: url(../type/UntitledSansTest-Regular.woff);
}

 html {
     max-width: 100%;
     overflow-x: hidden;
     background-color: #133B5F;
}
 /* p, ul, ol {
     font-size: 0.8rem;
     line-height: 2.5em;
     text-align: left;
     max-width: 20rem;
}
 figcaption {
     font-size: 0.8rem;
     font-style: italic;
} */
 h2 {
     font-family: Untitled;
     /* font-style: bold; */
     color: white;
     /* max-width: 40rem; */
   }

a, p {
  font-family: UntitledSans;
  color: white;
  /* width: 40em; */
  line-height: 1.6rem;
  /* max-width: 10rem; */
}
/* .wtf {
  width: 40em;
  line-height: 1.6rem;
} */
a:visited {
    /* text-decoration: none; */
    color: white;
}
a:active, a:hover {
    /* color: #55107E; */
    /* text-decoration: none; */
}
.textalign {
  position: absolute;
  z-index: 1;
  /* max-width: 83rem; */
  padding: 10%;
  /* left: 30%;
  top: 50%;
  transform: translate(-30%, -50%); */
}

/* .bodyType {
  max-width: 40rem;
}
.smallType {
  max-width: 40rem;
} */

::selection {
  color: rgb(239,236,114);
}
/* .priotity {
  position: absolute;
  z-index: 1;
} */
