/* Used the third lecture starter files to recap how nav, ems and rems work,
used w3schools to help with css animation, had andrew's help for box shadows */
#hello {
    height:1000px;
}

 nav a, nav a:visited {
     display: inline-block;
    /* background-color: rgba(255, 255, 255, 0.5);
     */
     border-left: 3px solid #292A2D;
     color: white;
     padding: 0.75em 2em;
     text-decoration: none;
     font-family: 'Roboto', sans-serif;
    /* -webkit-transition: background-color 0.5s;
     transition: background-color 0.5s;
     */
     -webkit-transition-property: all;
    /* Safari */
     -webkit-transition-duration: 0.5s;
    /* Safari */
     transition-property: all;
     transition-duration: 0.5s;
}
/* nav a {
     width: 100%;
}
 */
 nav a:hover, nav a:active, nav a:focus {
     background-color: #292A2D;
     width: 25%;
     color: white;
     font-family: 'Roboto', sans-serif;
}
/* nav a:active {
     background-color: #ff5e57;
     color: white;
}
 */
 nav {
     position: fixed;
     left: 1rem;
     right: 1rem;
}
/* section {
     margin-left: 10rem;
}
 */
/* section {
     -webkit-transition: background-color 0.9s;
     transition: background-color 0.9s;
}
 section:hover, section:active, section:focus {
     background-color: #d2dae2;
     background-size: 50%;
}
 */
 .backdrop {
     width: 100%;
     z-index: -99;
     position: absolute;
     background-color: black;
}
 html {
     max-width: 100%;
     overflow-x: hidden;
     background-color: #292A2D;
}
/* html, body {
     max-width: 100%;
     overflow-x: hidden;
}
 */
/* nav {
     z-index: 1;
}
 */
/* img {
     width: 80%;
}
 */
 /* .goalBar {
     background-color: #ff5e57;
     width: 100%;
     height: 10rem;
} */

/* .white {
  background-color: black;
} */


 section {
     padding: 1em;

}
 h1 {
    /* padding-left: 3rem;
     padding-top: 3rem;
     */
     position: fixed;
     padding: 3rem;
     margin-left: 8rem;
     font-size: 16rem;
     line-height: 1.4em;
     color: white;
     font-family: 'Source Sans Pro', sans-serif;
     max-width: 10rem;
}
 h2 {

     font-size: 15rem;
     margin-left: 8rem;
     line-height: 1.4em;
     color: #E55764;
     font-family: 'Source Sans Pro', sans-serif;
}
 h3 {
   font-size: 15rem;
   margin-left: 8rem;
   color: #2A2EFF;
   font-family: 'Source Sans Pro', sans-serif;
}
 h4 {
     line-height: 2em;
     letter-spacing: 0.1em;
     font-family: 'Source Sans Pro', sans-serif;
}
 h5 {
    /* position: relative;
     font-size: 4rem;
     color: #ff5e57;
     transform: rotate(-90deg);
     */
     color: white;
     max-width: 30rem;
     line-height: 2em;
     font-size: 1rem;
     font-family: 'Source Sans Pro', sans-serif;
     position: relative;
}
 h6 {
     position: absolute;
     font-size: 12rem;
     color: #FF9257;
     font-family: 'Source Sans Pro', sans-serif;
}
 p, ul, ol {
     font-size: 1rem;
     line-height: 2.5em;
     text-align: left;
     max-width: 20rem;
     font-family: 'Source Sans Pro', sans-serif;
     color: white;
}
 figcaption {
     font-size: 0.8rem;
     font-style: italic;
}
 a {
     color: #8968CD;
     font-size: 0.75rem;
     font-family: 'Source Sans Pro', sans-serif;
}
 a:visited {
     text-decoration: none;
}
 a:active, a:hover {
     color: #55107E;
     text-decoration: none;
}

.pusher {
     margin-left: 25%;
}
