/* Used grid.css from lab to format images next to eachother for comparison,
had help from andrew with flex-grow, flex-end */
 * {
     box-sizing: border-box;
}
 .grid {
     display: flex;
     flex-wrap: wrap;
}
.mobile-hide {
 display: none;
 }
 .mobile-show {
 display: none;
 }
 .collageDesktop {
     display: none;
     position: relative;
 }
 .collageMobile {
   display: none;
   position: relative;
 }

 @media (min-width: 15em) {
   .collageDesktop {
    display: none;
    }
    .collageDesktopDrop {
     display: none;
     }
    .collageMobile {
      width: 100%;
      display: inline;
    }
    .collageMobileDrop {
      width: 100%;
      display: inline;
      position: absolute;
      z-index: 0;
    }
    .vimeopush {
      padding-top: none;
    }
    .spacee2 {
      padding-top: -1.5rem;
    }
    h2 {
      max-width: 50rem;
      font-size: 1.5rem;
    }
    h3 {
      max-width: 50rem;
      font-size: 1.5rem;
    }
}
 @media (min-width: 23.5em) {
   .collageDesktop {
   display: none;
   }
   .collageDesktopDrop {
    display: none;
    }
   .collageMobile {
     width: 100%;
     display: inline;
   }
   .collageMobileDrop {
     width: 100%;
     display: inline;
     position: absolute;
     z-index: 0;
   }
   .vimeopush {
     padding-top: none;
   }
}
 @media (min-width: 45em) {
   .collageDesktop {
   width: 100%;
   display: inline;
   }
   .collageDesktopDrop {
   width: 100%;
   display: inline;
   }
   .collageMobile {
     display: none;
   }
   .collageMobileDrop {
     display: none;
   }
   .vimeopush {
     padding-top: 50rem;
   }
}
 @media (min-width: 56.25em) {
   .mobile-show {
   display: none;
   }
   .mobile-hide {
   display: inline;
   }
   .collageDesktop {
   display: inline;
   width: 100%;
   }
   .collageDesktopDrop {
   display: inline;
   width: 100%;
   }
   .collageMobile {
     display: none;
   }
   .collageMobileDrop {
     display: none;
   }
   .grid-col-1of2 {
       flex-basis: 50%;
       align-self: flex-end;
       flex-grow: 1;
  }
  .grid-col-1of2 {
      flex-basis: 50%;
      align-self: flex-end;
      flex-grow: 1;
      order: 1;
 }
  .video-grid-col-1of2 {
      flex-basis: 50%;
      align-self: left;
      flex-grow: 1;
      order: 2;
 }
   .grid-col-1of3 {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
   }
   .vimeopush {
     padding-top: 57rem;
   }
   h2 {
     max-width: 45rem;
     font-size: 3rem;
   }
   h3 {
     max-width: 30rem;
     font-size: 3rem;
   }
   a {
     /* max-width: 40rem; */
     max-width: 30rem;
   }
   .stacktype {
     position:absolute;
     z-index: 1;
     margin-top: 3rem;
     margin-left:auto;
     margin-right:auto;
     left: 0; /*NEW*/
     right: 0; /*NEW*/
   }
   .spacee {
     padding-top: 3rem;
   }
   .spacee2 {
     padding-top: 4rem;
   }
   .space4 {
     padding-top: 6rem;
   }
   .space5 {
     padding-top: 12%;
   }
   .spacee3 {
     padding-top: 17rem;
   }
   .aapealign {
     text-align: center;
     margin-left: -28%;
     padding-top: 2rem;
   }
   .videocopy {
     margin-left: 30%;
   }
   .videocopy2 {
     margin-left: 30%;
     margin-bottom: 30%;
   }
   .imgbump {
     margin-bottom: 3rem;
     /* width: 210px;
     height: 319px;
     margin-top: -13rem;
     position: absolute;
     z-index: 1; */
   }
}
