/* Used grid.css from lab to format images next to eachother for comparison,
had help from andrew with flex-grow, flex-end */
 * {
     box-sizing: border-box;
}
 .grid {
     display: flex;
     flex-wrap: wrap;
}
.mobile-hide {
 display: none;
 }
 .mobile-show {
 display: none;
 }
 .collageDesktop {
     display: none;
     position: relative;
 }
 .collageMobile {
   display: none;
   position: relative;
 }

 @media (min-width: 15em) {
   .collageDesktop {
    display: none;
    }
    .collageMobile {
      display: block;
      width: 100%;
      /* position: relative; */
      z-index: -2;
    }
}
 @media (min-width: 23.5em) {
   .collageDesktop {
   display: none;
   }
   .collageMobile {
     display: block;
     width: 100%;
     /* position: relative; */
     z-index: -2;
   }
}
 @media (min-width: 45em) {
   .collageDesktop {
   display: block;
   width: 100%;
   /* position: relative; */
   z-index: -2;
   }
   .collageMobile {
     display: none;
   }
}
 @media (min-width: 56.25em) {
   .mobile-show {
   display: none;
   }
   .mobile-hide {
   display: inline;
   }
   .collageDesktop {
   display: block;
   width: 100%;
   z-index: -2;
   }
   .collageMobile {
     display: none;
   }
}
