/* Used grid.css from lab to format images next to eachother for comparison,
had help from andrew with flex-grow, flex-end */
 /* * {
     box-sizing: border-box;
}
 .grid {
     display: flex;
     flex-wrap: wrap;
} */
.mobile-hide {
 display: none;
 }
 .mobile-show {
 display: none;
 }
 .collageDesktop {
     display: none;
     position: relative;
 }
 .collageMobile {
   display: none;
   position: relative;
 }

 @media (min-width: 15em) {
   .collageDesktop {
    display: none;
    }
    .collageDesktopDrop {
     display: none;
     }
    .collageMobile {
      width: 100%;
      display: inline;
    }
    .collageMobileDrop {
      width: 100%;
      display: inline;
      position: absolute;
      z-index: 0;
    }
    .vimeopush {
      padding-top: none;
    }
    h2 {
      max-width: 50rem;
      font-size: 1.5rem;
    }
}
 @media (min-width: 23.5em) {
   .collageDesktop {
   display: none;
   }
   .collageDesktopDrop {
    display: none;
    }
   .collageMobile {
     width: 100%;
     display: inline;
   }
   .collageMobileDrop {
     width: 100%;
     display: inline;
     position: absolute;
     z-index: 0;
   }
   .vimeopush {
     padding-top: none;
   }
}
 @media (min-width: 45em) {
   .collageDesktop {
   width: 100%;
   display: inline;
   }
   .collageDesktopDrop {
   width: 100%;
   display: inline;
   }
   .collageMobile {
     display: none;
   }
   .collageMobileDrop {
     display: none;
   }
   .vimeopush {
     padding-top: 50rem;
   }
}
 @media (min-width: 56.25em) {
   .mobile-show {
   display: none;
   }
   .mobile-hide {
   display: inline;
   }
   .collageDesktop {
   display: inline;
   width: 100%;
   }
   .collageDesktopDrop {
   display: inline;
   width: 100%;
   }
   .collageMobile {
     display: none;
   }
   .collageMobileDrop {
     display: none;
   }
   .grid-col-1of3 {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
   }
   .vimeopush {
     padding-top: 57rem;
   }
   h2 {
     max-width: 45rem;
     font-size: 3rem;
   }
   a {
     /* max-width: 40rem; */
     max-width: 29rem;
   }
}
